//////////////////////////////////////////
// Component: App
//////////////////////////////////////////

.app
  display: grid
  height: 100vh
  grid-template-columns: 1fr 3fr
  border: solid 4px #ddd
  .main
    display: grid
    // height: 100vh
    grid-template-rows: 1fr 6fr
  .aside
    display: grid
    // height: 100vh
    grid-template-rows: 3fr 1fr 6fr
  .unit
    display: block
    padding: 20px
    border: solid 1px #eee
