//////////////////////////////////////////
// Component: App
//////////////////////////////////////////

.app
  display: grid
  height: 100vh
  grid-template-columns: 1fr 3fr
  main
    border: solid 1px #ddd
  aside
    border: solid 1px #ddd
